<main>
  <!-- KARUSELL -->
  {% if page.carousel[0] != null %}
  <div class="block block-carousel">
    <div id="carousel" class="carousel-wrapper">
      <div class="carousel-inner">
        <ul class="carousel-list carousel-slide-0">

          {% for item in page.carousel %}
          <li class="carousel-list-item">
            <a href="{{item.linkUrl}}" class="block block-bgimage block-padding block-text-{{item.textPosition}}" style="background-image: url('./images/{{item.imageFileName}}');">
              <div class="block-content">
                <h2 class="title">{{item.name}}</h2>
                <p><span class="btn">{{item.linkText}}</span></p>
              </div>
            </a>
          </li>
          {% endfor %}

        </ul>
      </div>
      <button type="button" class="carousel-arrow carousel-arrow-prev carousel-nav" data-carousel="carousel" data-move="prev" aria-hidden="true" hidden></button>
      <button type="button" class="carousel-arrow carousel-arrow-next carousel-nav" data-carousel="carousel" data-move="next" aria-hidden="true" hidden></button>
    </div>
  </div>
  {% endif %}

  <!-- FULL BREDDE VIDEO -->
  {% for item in page.fullwidthvideo %}
  <div class="block block-video block-bgimage block-video-youtube block-padding block-text-{{item.textPosition}}" style="background-image: url('./images/{{item.imageFileName}}');">
    <iframe title="Youtube video: {{item.name}}" frameborder="0" src="" allowTransparency="true" allowfullscreen allow="autoplay"></iframe>
    <div class="block-content">
      <p class="intro">{{item.intro}}</p>
      <h2 class="title">{{item.name}}</h2>
      <button type="button" class="btn-video-play" onclick="videoPlay(this, '{{item.youtubeId}}')" aria-hidden="Avspill video">
        <span class="btn-video-play-arrow"></span>
      </button>
    </div>
    <!-- <iframe width="560" height="315" src="'./images/{{item.videoYuotubeUrl}}'https://www.youtube.com/embed/zB4f-uK1CuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowTransparency="true" allow="autoplay" allowfullscreen></iframe> -->
  </div>
  {% endfor %}

  <!-- FULL BREDDE -->
  {% for item in page.fullwidth %}
  <a href="{{item.linkUrl}}" class="block block-bgimage block-padding block-text-{{item.textPosition}}" style="background-image: url('./images/{{item.imageFileName}}');">
    <div class="block-content">
      <h2 class="brand-type">{{item.name}}</h2>
      <p class="intro">{{item.intro}}</p>
      <p><span class="btn">{{item.linkText}}</span></p>
    </div>
  </a>
  {% endfor %}

  <!-- HALV BREDDE -->
  {% if page.halfwidth[0] != null %}
  <div class="block">

    {% for item in page.halfwidth %}
    <a href="{{item.linkUrl}}" class="block block-half block-bgimage block-padding block-text-{{item.textPosition}}" style="background-image: url('./images/{{item.imageFileName}}');">
      <div class="block-content">
        <h2 class="brand-type">{{item.name}}</h2>
        <p class="intro">{{item.intro}}</p>
        <p><span class="btn">{{item.linkText}}</span></p>
      </div>
    </a>
    {% endfor %}

  </div>
  {% endif %}

  {{content}}

</main>