<main>
  <!-- KARUSELL 1 -->
  {% include content-list-full-carousel.html content=page.carousel %}

  <!-- HALV BREDDE 1 -->
  {% include content-list-half.html content=page.halfwidth %}

  <!-- FULL BREDDE 1 -->
  {% include content-list-full.html content=page.fullwidth %}

  <!-- FULL BREDDE VIDEO 1 -->
  {% include content-list-full-video.html content=page.fullwidthvideo %}

  <!-- HALV BREDDE 2 -->
  {% include content-list-half.html content=page.halfwidth2 %}

  <!-- FULL BREDDE 2 -->
  {% include content-list-full.html content=page.fullwidth2 %}

  <!-- HALV BREDDE 3 -->
  {% include content-list-half.html content=page.halfwidth3 %}

  <!-- FULL BREDDE 3 -->
  {% include content-list-full.html content=page.fullwidth3 %}

  <!-- HALV BREDDE 4 -->
  {% include content-list-half.html content=page.halfwidth4 %}

  <!-- FULL BREDDE 4 -->
  {% include content-list-full.html content=page.fullwidth4 %}

  <!-- HALV BREDDE 5 -->
  {% include content-list-half.html content=page.halfwidth5 %}

  <!-- FULL BREDDE 5 -->
  {% include content-list-full.html content=page.fullwidth5 %}

  {{content}}

  <div class="menu-open-overlay"></div>
</main>