---
---
// The above Front Matter is required here because the sass base path is set in _config.yml

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$small-up: 'min-width: 450px';
$medium-down: 'max-width: 999px';
$medium-up: 'min-width: 1000px';
$large-up: 'min-width: 1200px';

@mixin media($range) {
  @media ($range) {
    @content;
  }
}

@mixin visuallyhidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
  color: white;
  background-color: #333;
}

a {
  color: white;
}

.mouse-user *:focus {
  outline: none;
}

button {
  font-size: inherit;
  border: 1px solid black;
}

main > .block:first-child {
  margin-top: 74px;

  @include media($medium-up) {
    margin-top: 95px;
  }
}

.head {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 34px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  transition: height .2s ease;

  @include media($medium-up) {
    height: 55px;
  }

  .wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .logo {
    display: inline-block;

    img {
      display: block;
      width: 176px;
      height: 43px;
      transition: width .2s ease, height .2s ease;

      @include media($medium-up) {
        width: 264px;
        height: 65px;
      }
    }
  }

  .btn-menu {
    position: relative;
    display: inline-block;
    margin-top: 6px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: transparent;
    border: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('../img/icon-menu.svg') no-repeat 0 0;
    }

    &.active:after {
      background-image: url('../img/icon-menu-close.svg');
    }

    @include media($medium-up) {
      display: none;
    }
  }

  #menu.open .mainnav {
    display: block;
  }

  .mainnav {
    display: none;
    margin: 0;
    padding-left: 0;
    list-style: none;

    @include media($medium-down) {
      position: absolute;
      top: 74px;
      right: 0;
      left: 0;
      background-color: white;
    }

    @include media($medium-up) {
      display: block;
      margin-top: 29px;
    }

    li {
      color: #666;

      @include media($medium-up) {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 20px;
        }
      }

      .submenu {
        display: none;

        &.shown {
          display: block;

          @include media($medium-down) {
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            a {
              display: block;
              padding: 8px 20px;
            }
          }

          @include media($medium-up) {
            position: absolute;
            top: 95px;
            right: 0;
            left: 0;
            padding: 20px;
            text-align: center;
            color: black;
            background-color: white;

            li + li {
              margin-left: 80px;
            }
          }
        }

        a {
          color: black;
        }
      }
    }

    a,
    button {
      font-size: 16px;
      font-style: italic;
      text-decoration: none;

      &.menu-item {
        width: 100%;
        font-family: inherit;
        font-weight: 600;
        letter-spacing: 0.03rem;
        text-transform: uppercase;
        text-align: left;
        background: transparent;
        border: none;

        @include media($medium-down) {
          display: block;
          padding: 15px 20px;
          color: black;
          border-top: 2px solid currentColor;
        }

        @include media($medium-up) {
          color: white;
        }

        &.menu-has-children::after {
          content: '';
          display: inline-block;
          width: 12px;
          height: 8px;
          margin-left: 6px;
          background: transparent url('../img/icon-menu-item-arrow.svg') 0 0 no-repeat;

          @include media($medium-down) {
            background-image: url('../img/icon-menu-item-arrow-black.svg');
          }
        }

        // &:hover,
        // &:focus {
        //   border-color: #666;
        // }
      }
    }
  }

  .has-open-item .mainnav {
    a,
    button {
      &.menu-item:not(.active) {
        color: gray;

        &.menu-has-children::after {
          opacity: .5;
        }
      }
    }
  }
}

a.block {
  position: relative;
  text-decoration: none;

  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity .2s ease-in-out;

    @include media($medium-down) {
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
    }
  }
}

.block {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: calc(50vw - 10px);

  @include media($medium-down) {
    min-height: 50vw;//56.25vw
    height: auto;
  }

  &-bgimage {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &-padding {
    padding: 10px;
    box-sizing: border-box;

    @include media($medium-up) {
      padding: 20px;
    }
  }

  &-video {
    position: relative;
    padding: 0 0 56.25%; /* 16:9 */
    height: 0;

    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,0.3);
      opacity: 0;
      transition: opacity .2s ease-in-out;

      @include media($medium-down) {
        opacity: 1;
      }
    }

    &:hover,
    &:focus {
      &:after {
        opacity: 1;
      }
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .block-content {
      max-width: 440px;
      margin-top: 50%;
    }

    .btn-video-play {
      width: 40px;
      height: 40px;
      margin-top: 30px;
      padding: 3px 0 0 3px;
      background-color: #d00b3d;
      border: none;
      cursor: pointer;
      transition: background-color .2s ease-in-out;

      @include media($medium-up) {
        width: 80px;
        height: 80px;
      }

      &:hover {
        background-color: #ff3455;
      }

      &-arrow {
        display: inline-block;
        border-bottom: 13px solid rgba(0,0,0,0);
        border-left: 20px solid #fff;
        border-top: 13px solid rgba(0,0,0,0);

        @include media($medium-up) {
          border-bottom: 25px solid rgba(0,0,0,0);
          border-left: 40px solid #fff;
          border-top: 25px solid rgba(0,0,0,0);
        }
      }
    }
  }

  @include media($medium-down) {
    &-half {
      border: 20px solid white;
      border-bottom: none;
    }
  }

  @include media($medium-up) {
    &-half {
      width: 50%;
      height: calc(50vw - 10px);//56.25vw
      border: 20px solid white;
      border-bottom: none;

      &:nth-child(odd) {
        border-right-width: 10px;
      }

      &:nth-child(even) {
        border-left-width: 10px;
      }
    }

    &-text {
      &-right {
        justify-content: flex-end;

        .block-content {
          margin-right: 100px;
        }
      }

      &-left {
        justify-content: flex-start;

        .block-content {
          margin-left: 100px;
        }
      }
    }
  }

  @include media($large-up) {
    &-text {
      &-right {
        .block-content {
          margin-right: 15vw;
        }
      }

      &-left {
        .block-content {
          margin-left: 15vw;
        }
      }
    }
  }

  &-content {
    position: relative;
    z-index: 2;
    margin: 10px;
    text-align: center;

    @include media($small-up) {
      margin-right: 50px;
      margin-left: 50px;
    }

    @include media($medium-up) {
      max-width: 360px;

      .block-carousel & {
        max-width: 440px;
      }
    }
  }

  &-carousel {
    position: relative;
    justify-content: flex-start;
    overflow: hidden;

    .carousel-inner {
      width: 100vw;
      overflow: hidden;
    }

    .slide .carousel-list {
      transition: left .3s ease-in-out;
    }

    .carousel-list {
      position: relative;
      display: block;
      margin: 0;
      padding-left: 0;
      list-style: none;

      &.carousel-slide-0 { left: 0; }
      &.carousel-slide-1 { left: -100vw; }
      &.carousel-slide-2 { left: -200vw; }
      &.carousel-slide-3 { left: -300vw; }
      &.carousel-slide-4 { left: -400vw; }
      &.carousel-slide-5 { left: -500vw; }
      &.carousel-slide-6 { left: -600vw; }
      &.carousel-slide-7 { left: -700vw; }
      &.carousel-slide-8 { left: -800vw; }
      &.carousel-slide-9 { left: -900vw; }
      &.carousel-slide-10 { left: -1000vw; }
      &.carousel-slide-11 { left: -1100vw; }
      &.carousel-slide-12 { left: -1200vw; }
      &.carousel-slide-13 { left: -1300vw; }
      &.carousel-slide-14 { left: -1400vw; }
      &.carousel-slide-15 { left: -1500vw; }
      &.carousel-slide-16 { left: -1600vw; }
      &.carousel-slide-17 { left: -1700vw; }
      &.carousel-slide-18 { left: -1800vw; }
      &.carousel-slide-19 { left: -1900vw; }
      &.carousel-slide-20 { left: -2000vw; }
    }

    .carousel-list-item {
      display: block;
      float: left;
      width: 100vw;
    }

    .carousel-arrow {
      position: absolute;
      z-index: 2;
      top: 50%;
      z-index: 10;
      width: 40px;
      height: 50px;
      background-color: transparent;
      border: none;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 7px;
        width: 25px;
        height: 4px;
        background-color: white;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }

      &-prev {
        left: 15px;

        &:before {
          top: 30px;
        }
        &:after {
          top: 15px;
        }
      }

      &-next {
        right: 15px;

        &:before {
          top: 15px;
        }
        &:after {
          top: 30px;
        }
      }
    }

    .carousel-dots {
      position: absolute;
      z-index: 2;
      bottom: 20px;
      right: 20px;
      left: 20px;
      height: 0;
      margin-left: 0;
      padding-left: 0;
      list-style: none;
      text-align: center;

      @include media($medium-up) {
        bottom: 40px;
      }

      li {
        display: inline-block;
        margin-right: 12px;

        input {
          @include visuallyhidden();

          + label {
            display: block;
            width: 13px;
            height: 13px;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 50%;
          }

          &:checked + label {
            background-color: white;
          }
        }
      }
    }
  }

  .title,
  .intro,
  .btn {
    text-shadow: 0 0 30px rgba(0,0,0,.5);
  }
}

.title,
.brand-type {
  margin: 0;
  font-size: 24px;
  line-height: 1;

  @include media($small-up) {
    font-size: 40px;
  }

  @include media($medium-up) {
    font-size: 60px;
  }
}

.title {
  font-size: calc(5vw + 8px);
  font-weight: 400;
  text-transform: uppercase;

  @include media($medium-up) {
    font-size: 50px;
  }
}

.intro {
  font-size: calc(1.5vw + 12px);
  font-weight: 300;

  @include media($medium-up) {
    font-size: 28px;
  }
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 12px;
  font-size: calc(.5vw + 9px);
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  background-color: rgba(0,0,0,0.7);
  border: none;
  border-radius: 25px;

  @include media($medium-up) {
    padding: 15px 23px;
    font-size: 13px;
  }
}

footer {
  padding: 20px;
  color: black;
  background-color: white;

  @include media($medium-up) {
    padding-top: 40px;
    padding-bottom: 80px;

    nav {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-transform: uppercase;

    @include media($medium-up) {
      display: block;
    }

    li {
      color: #666;

      @include media($medium-up) {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 15px;
          padding-left: 15px;
          border-left: 2px solid currentColor;
        }
      }
    }

    a {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.03rem;
      text-decoration: none;
      color: #555;

      &:hover,
      &:focus {
        border-color: #666;
      }
    }
  }
}